body {
    background: #DBDBDB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: Arial;
    font-weight: 100;
}

.jumbotron, .thumbnail, .navbar {
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    background-color: #fff 
}

h1 {
  /*text-shadow: 0px 3px 15px rgba(0,0,0,0.2);*/
  font-family: 'Roboto';
  font-weight: "500";
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.thumbnail img {
    width: 100%;
    
}

.thumbnail {
    padding: 0;
   
}

.thumbnail .caption-full {
    padding: 9px;
}

.deleteForm {
    display: inline;
    margin-left: 10px;
}

.btn-outline-secondary {
   margin-bottom: 10px;
}